/* FONTS */

@import url('https://fonts.googleapis.com/css?family=KoHo|Roboto&display=swap');


/* COLORS */
$main-dark: #151515;
$main-green: #0c9463;
$main-white: #fefefe;
$table-header-bg: #151515;
$table-data-bg: rgba($color: #e0e0e0, $alpha: 0.5);

/* BREAKPOINTS */

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;