@import '../../styles/variables.scss';
.bgHider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    background-color: $main-white;
}
.homeContainer {
    display: flexbox;
}
.middle {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
