<div class="container">
    <div class="row align-items-center">
        <div class="col-1 max-height">

        </div>
        <div class="col-10">
            <div class="row justify-content-center back-to-home">
                <h2 class="display-4">Nem találtam meg az oldalt</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                </div>
                <div class="col-6">
                    <img class="img-fluid" src="assets/404.svg" alt="">
                </div>
                <div class="col-3" >        
                </div>
            </div>
            <div class="row justify-content-center back-to-home">
                <a class="btn btn-outline-primary" [routerLink]="['/']">Vissza a kezdőlapra</a>
            </div>
        </div>
        <div class="col-1">
            
        </div>
    </div>
</div>