.train-image {
    height: 20rem
}
.success-modal{
    animation-name: example;
    animation-duration: 0.3s;
    background: none !important;
  }
.success-modal-backdrop {
    background-color: rgba($color: #fefefe, $alpha: 200);
}
  
  @keyframes example {
    0%   {transform: scale(0)}
    75%  {transform: scale(1.5)}
    100% {transform: scale(1)}
  }