/* You can add global styles to this file, and also import other style files */

$primary: #148653;
$danger: #862314;

.alert-danger {
    background-color: $danger;
};
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
