@import '../../../styles/variables.scss';
.panel {
    margin: 20px;
    background-color: $main-white;
    width: 250px;
    height: 300px;
    max-width: 250px;
    max-height: 400px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 12px -1px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    .imgContainer {
        width: 100%;
        height: auto;
        max-height: 50%;
        img {
            margin: 0;
            border-radius: 10px 10px 0px 0px;
            width: 100%;
        }
    }
    .infoContainer {
        max-height: 50%;
        width: 100%;
        display: block;
        text-align: center;
        .title {
            font-size: 20px;
            font-weight: bold;
            height: 60%;
        }
        .icon {
            font-size: 20px;
            font-weight: bold;
            height: 40%;
        }
        span {
            display: block;
            padding: 5px;
        }
    }
}