@import '../variables';

@mixin paragraph($font-size: 12px, $color:unset) {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.1px;
    font-size: $font-size;
    @if $color {
        color: $color;
    }
}